{% extends 'ejemplo/base.html' %}
{% block titulo%} Buscar familiares por nombre: {% endblock %}
{% block contenido %}
  
  <form action="/mi-familia/buscar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  {% for familiar in lista_familiares %}
      <ul>
          <li> Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Fecha de Nacimiento: {{familiar.fecha}}, Pasaporte: {{familiar.numero_pasaporte}}</li>
      </ul>
  {% endfor %}
{% endblock %}