{% extends 'ejemplo/base_mascota.html' %}
{% block titulo%} Buscar Mascotas por nombre {% endblock %}
{% block contenido %}
  
  <form action="/panel-mascota/buscar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  {% for mascota in object_list %}
      <ul>
          <li> Nombre: {{mascota.nombre}} - Animal: {{mascota.animal}} - Raza: {{mascota.raza}} - Fecha de Nacimiento: {{mascota.fecha}}</li>
      </ul>
  {% endfor %}

  <h1> </h1>
  <a href='http://localhost:8000/panel-mascota/'><input type="button" value="Lista de Mascotas" class="btn btn-primary" /></a>
{% endblock %}